*.a
*.o
*.plist
*~
.*.swp
.deps/
/ChangeLog
/INSTALL
/aclocal.in
/aclocal.m4
/autom4te.cache/
/build-aux/ar-lib
/build-aux/compile
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
/config.h
/config.h.in
/config.log
/config.status
/configure
/confuse-*
/debian/files
/debian/nsca-ng-*.debhelper*
/debian/nsca-ng-*.substvars
/debian/nsca-ng-client/
/debian/nsca-ng-server/
/debian/tmp/
/lib/confuse/
/lib/ssl/
/man/*.man
/man/*.pdf
/man/*.ps
/nsca-ng-*.tar.gz
/openssl-*
/python/build/
/src/client/send_nsca
/src/server/nsca-ng
/stamp-h1
/tests/atconfig
/tests/atlocal
/tests/package.m4
/tests/test_nsca
/tests/testsuite
/tests/testsuite.dir/
/tests/testsuite.log
Makefile
Makefile.in
gmon.out
