#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	./build-aux/make-confuse
	./build-aux/make-openssl
	./autogen.sh
	dh_auto_configure -- --enable-server

override_dh_fixperms:
	dh_fixperms
	chmod 0600 debian/nsca-ng-server/etc/nsca-ng.cfg
