name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-test-analyze:
    name: Build, test, analyze
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      actions: read
      contents: read
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: cpp
    - name: Install prerequisites
      run: |
        sudo apt-get -qq update
        sudo apt-get -qq install libssl-dev libev-dev libconfuse-dev
    - name: Bootstrap and configure
      run: |
        ./autogen.sh
        ./configure --enable-server
    - name: Build
      run: make
    - name: Test
      run: make check
    - name: Perform CodeQL analysis
      uses: github/codeql-action/analyze@v3
